@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap');
@import url('https://www.remessaonline.com.br/blog/tabela-de-cores-html-veja-os-codigos-para-aplicar-cores-nas-tags-html/');

body{
  background-color: #cfffca;
}
* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: capitalize;
    transition: 2s linear;
}

#header {
    background: #7ab97a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
}

#header .logo img {
    height: 3.5rem;
}

#header .navbar a{
    margin: 0 1rem;
}

#header .navbar a{
    margin: 0 1rem;
    font-size: 20px;
    text-decoration: none;
    justify-content: space-between;
    font-weight: bold;
    color: rgb(8, 8, 8);

}

#busca {
  background-color: #ffff;
  border: solid 1px #114d23;
  border-radius: 5px;
  width: 300px;
  height: 32px;
  padding: right 100px;
}

#txtbusca {
  text-align: left;
  align-items: center;
  background-color: transparent;
  font-size: 15px;
  border: 10px;
  height: 28px;
  width: 191px;
  
}
#btnbusca {
  align-items: flex-end;
}

  input, label {
    display: block;
    outline: none;
    width: 100%;
  }
  
  a {
    color:#114d23;
  }
  
  body {
    padding-top: 5vh;
    background-image: url('../img/bg-register-page.jpg');
    background-size: cover;
    background-position-y: -150px;
  }
  
  /* form */
  #main-container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background-color: #FFF;
    border-radius: 10px;
    padding:10px;
    position: relative;
    height: 500px;
    top: -500%;
    right: 0px;
    left: 0;
    border: none;
    border-radius: 10px;
    outline: none; 
    text-transform: uppercase;
    font-weight: 100px;
    letter-spacing: 2px;
    color: #91B679;
    background: #1b8f59;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #1b8f59;
    float: right;
  }

  
  #main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
    
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .full-box {
    flex: 1 1 100%;
    position: relative;
  }
  
  .half-box {
    flex: 1 1 45%;
    position: relative;
  }
  
  .spacing {
    margin-right: 2.5%;
  }
  
  label {
    font-weight: bold;
    font-size: .8rem;
   
  }
  
  input {
    border-radius: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
  }
  
  input:focus {
    border-color: #114d23;
  }
  
  input[type="submit"] {
    background-color: #114d23;
    color: #FFF;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
  }
  
  #agreement {
    margin-right: 5px;
  }
  
  #agreement, #agreement-label {
    display: inline-block;
    width: auto;
  }
  
  .error-validation {
    color: #114d23;
    position: absolute;
    top: 57px;
    font-size: 12px;
  }
  
  .template {
    display: none;
  }
  
