@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');
@import url('https://www.remessaonline.com.br/blog/tabela-de-cores-html-veja-os-codigos-para-aplicar-cores-nas-tags-html/');

body{
  background-color: #cfffca;
}
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: capitalize;
    transition: 2s linear;
}

#header {
    background: #7ab97a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
}

#header .logo img {
    height: 3.5rem;
}

#header .navbar a{
    margin: 0 1rem;
}

#header .navbar a{
    margin: 0 1rem;
    font-size: 20px;
    text-decoration: none;
    justify-content: space-between;
    font-weight: bold;
    color: rgb(8, 8, 8);

}

#busca {
    background-color: #ffff;
    border: solid 1px #114d23;
    border-radius: 5px;
    width: 300px;
    height: 32px;
    padding: right 100px;
    position: relative;
    left: -30%;
}

#txtbusca {
    text-align: left;
    align-items: center;
    background-color: transparent;
    font-size: 15px;
    border: 10px;
    height: 28px;
    width: 191px;
    
}


#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container {
    margin-top: 5%;
}

.texto {
    top: 10%;
    width: 50%;
    padding: 60px;
}

#links {
    display: flex;
    justify-content: space-around;
    margin-top: 5px
}

#links {
    background-color: #cce6d4;
}

#txticon {
    display: flex;
    justify-content: space-around;

}

#txticon {
    width: 100%;
    background-color: #cce6d4;
}


.txticon1 {
    padding: 0 5%;
}
.txticon2 {
    padding: 0 5%;
}
.txticon3 {
    padding: 0 5%;
}
button {
    all: unset;
    cursor: pointer;
    outline: revert;
  }

#btnbusca {
    align-items: flex-end;
}

footer {
    background-color: #7ab97a;
    padding-top: 55px;
    border-top: 5px;
    text-align: center; 
    display:flex;
    justify-content: center;
   }
   

    footer p {
      color: black;
      font-size:12px;
      text-decoration: none;
    }
    
    footer a {
      color: black;
      font-size:15px;
      text-decoration: none;
   }
    
    .contato{
      display: flex;
      justify-content: space-between;
      padding: 2em;
      margin: 2em;
    }

  

  footer p {
      color: black;
      font-size:15px;
      text-decoration: none;
    }
    
    footer a {
      color: #black;
      font-size:10px;
      text-decoration: none;
   }

   
   .footer-box  {
    width: 31%;
    padding: 0%;
    float: left;
    align-items:center;
    font-weight: 550;
    }


   .footer-box p{
    display: block;
    font-weight: 550;
   }

  

  .contato p{
    color: black;
    font-size:15px;
    text-align:center;
  }
