@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap');

* {
  margin:0;
  padding:0
}

body{
  background-color: #cfffca;
}

* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: capitalize;
    transition: 2s linear;
    
}

.header{
  background-color: #7ab97a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0; left: 0; right: 0;
}

.header .logo img{
    height: 3.5rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 20px;
    text-decoration: none;
    justify-content: space-between;
    font-weight: bold;
    color: rgb(8, 8, 8);
   
 }

  #Busca{
    background-color: #ffffff;
    border: solid 1px #1b8f59;
    border-radius: 5px;
    width: 300px;
    height: 32px;
    padding: right 100px;
    position: relative;
    left: -24%
  }

  #txtBusca{
    text-align: left;
    align-items: center;
    background-color: transparent;
    font-size: 15px;
    padding: 10px;
    border: none;
    height: 28px;
    width: 191px;
  }

 .section{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center-left;
    padding: 60px;
    border: none;
 }

    .container img {
    float: left;
    border: transparent thin solid;
    padding: 5px;
    width: 415px;
    height: 400px;
   }

   #conteudo h1{
    text-align: left;
    font-family: 'Montserrat';
    font-size: 31px;
    align-items: left;
    padding: 15px; 
    display: flex;
    position: relative;
    margin-top: 150px;
   }

   h2 {
    background-color: #cce6d4;
    text-align:center;
    font-family: 'Montserrat';
    font-size: 28px;
    align-items: center;
    padding: 0px;
    display: flex;
 }
   .center {
    align-items: center;
    background-color: #cce6d4;
    border-left: solid 5px rgb(247, 90, 90);
    display: flex;
    font-family: 'Montserrat';
    font-size: 23px;
    padding:20px;
    text-align: center;
   }

   .center p {
      background-color: #cce6d4;
      text-align: left;
      font-family: 'Montserrat';
      font-size: 16px;
      align-items: center;
      font-display: center;
      padding: 6%;
      margin:00px;
     font-weight: 200;
    }
    

   main {
    font-family: 'Montserrat';  
    font-size:20px;
    margin: 0px;
    padding: 0 00%;
    font-weight: 0;
    text-align: center;
    font-display: center;
   }

   
footer {
  background-color: #7ab97a;
  padding-top: 55px;
  border-top: 5px;
  text-align: center; 
  display:flex;
  justify-content: center;
 }
 

  footer p {
    color: black;
    font-size:12px;
    text-decoration: none;
  }
  
  footer a {
    color: black;
    font-size:15px;
    text-decoration: none;
 }
  
  .contato{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    margin: 2em;
  }

footer p {
    color: black;
    font-size:12px;
    text-decoration: none;
  }
  
  footer a {
    color: black;
    font-size:12px;
    text-decoration: none;
 }

 
 .footer-box  {
  width: 31%;
  padding: 0%;
  float: left;
  align-items:center;
  font-weight: 550;
  }


 .footer-box p{
  display: block;
  font-weight: 550;
 }



.contato p{
  color: black;
  font-size:10px;
  text-align:center;
}
