@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap');
@import url('https://www.remessaonline.com.br/blog/tabela-de-cores-html-veja-os-codigos-para-aplicar-cores-nas-tags-html/');

html, body 
{ 
 height: 100%;
 overflow-x: hidden
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: capitalize;
    transition: 2s linear;
    
}

.header{
    background: var(--bg);
    background-color:  #5f963b;
    display: flex;
    align-items: center;
    justify-content: column;
    padding: 0.5rem 7%;
    top: 0; left: 0; right: 0;
    border: none;
}

.header .logo img{
    height: 5.8rem;
    padding: 10px; 

}

.header .navbar{
    display: flex;
    align-items: center;
    justify-content: column;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(8, 8, 8);
    position: relative;
    left: 710%

}

#Busca{
    background-color: #ffffff;
    border: solid 1px #114d23;
    border-radius: 5px;
    width: 30%;
    height: 10%;
    padding: right 20%;
    padding: left 20%;

}
#txtBusca{
    text-align: left;
    align-items: center;
    background-color: transparent;
    font-size: 15px;
    padding: 10px;
    border: none;
    height: 28px;
    width: 191px;

}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}



.section{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #81c553;
}


.atv{       

    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.section > h1 {
    text-align: center; 
    font-size: 28px;
    margin-bottom: 2%;
}

.video{
    margin: 1%;

}

.atividade{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    border: 5px solid rgb(98, 180, 98);
}

.atividade > h1{
    font-size: 27pt;
    padding-bottom: 10%;
}

.atividade > h3{
    padding-bottom: 10%;
}

#titulo{
    padding-bottom: 10%;
}

.alternativa{
    padding: 2.5%;
    border-radius: 5px;
    box-shadow: 0px 10px 40px #00000056;
    border: 3px solid rgb(1, 59, 9);

}

#result{
    padding: 5%;
}   

#pontos{
    padding: 5% 0 0 0;
}