   footer {
    background-color: forestgreen;
    padding-top: 55px;
    border-top: 5px solid rgb(16, 94, 46);
    text-align: center; 
    display:flex;
    justify-content: center;
   }
   

    footer p {
      color: #d1d1d1;
      font-size:12px;
      text-decoration: none;
    }
    
    footer a {
      color: #d1d1d1;
      font-size:15px;
      text-decoration: none;
   }
    
   .contato{
    display: block;
    list-style-type: none;
    padding: 2em;
    margin: 2em;
    font-weight: 550;
  }

  .contato p{
    color: #d1d1d1;
    font-size:15px;
    text-align:center;
  }

  .footer-box  {
      width: 31%;
      padding: 0%;
      float: left;
      align-items:center;
      }
